<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2VnHxVj3zzKtrpbKr4BXUMMEqtsw86p8</string>
	<key>GCM_SENDER_ID</key>
	<string>864961822276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stayZen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stayzen-93268</string>
	<key>STORAGE_BUCKET</key>
	<string>stayzen-93268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864961822276:ios:a2a3ba8e9180a5397b8611</string>
</dict>
</plist>